<!--  <h3>{{welcomeTitle}}</h3>
  <p>{{welcomeMsg}}</p>
-->
<!--
  [(ngModel)] is used for two way biding
-->
<div class="container">
    <h1>Basic Form</h1>
    <h5 class="bold red">NOTE: Click the show button to show the Title input and type anything in textbox to see in result section</h5>
    <form #basicform="ngForm" (ngSubmit)="onSubmit(basicform.value)">
      <div class="form-group">
        <div *ngIf="showTitle">
          <label for="title" >Title</label>
          <input type="text" class="form-control" [(ngModel)]="title" name="title" required>
        </div><br>
        <button type="button" class="btn btn-info" (click)="showTitleFn();">Show Title</button>
      </div>
      <div class="form-group">
        <label for="fname" >First Name</label>
        <input type="text" class="form-control" [(ngModel)]="fname" name="fname" required>
      </div>
      <div class="form-group">
        <label for="lname" >Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="lname" name="lname" required>
      </div>
      <!--<button type="submit" class="btn btn-success">Submit</button>-->
    </form>
    <hr>
    <div class="green bold">
      <h3 class="bold brown underline">RESULT:</h3>
       {{title}} {{fname}} {{lname}}
    </div>
</div>