<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" class="bold brown">MouseEnter And MouseLeave on the indexes (using ngStyle) :</h4>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Index</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items; let i = index;">
            <td (mouseenter)="MouseEnter(i)" (mouseleave)="MouseLeave(i)" [ngStyle]="{'color': selectedindex == i ? color : black }" class="bold">{{i}}</td>
            <td>{{item}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>